<div class="container" style="padding-top: 5%" xmlns="http://www.w3.org/1999/html">

  <div class="row">
    <div class="col-sm-12" style="vertical-align: middle" >
      <div class="alert alert-info  col-sm-12"  >
        <p style="padding: 1%">
           This module development is in progress. Please visit after some time. Meanwhile you can submit your enquiry and we will get back to you.
            Thank you for your patience!

        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12" align="middle">
      <button class="btn-primary" (click)="OnClick()"> Contact Us </button>
      <button class="btn-primary" (click)="OnHomeClick()"> Home </button>
    </div>
  </div>
</div>
