<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #6B7A95" >
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav class="navbar navbar-light bg-faded">
    <h1 class="navbar-brand mb-0">PC Advise</h1>
  </nav>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 2%">
        <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/Home" style="color: white">HOME <span class="sr-only">(current)</span></a>
              </li>
              <!--<li class="nav-item">-->
                <!--<a class="nav-link" routerLink="/Portfolio" style="color: white">BLOG</a>-->
              <!--</li>-->
              <li class="nav-item">
                <a class="nav-link" routerLink="/TrainingsOffered" style="color: white">TRAININGS OFFERED</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/Gallery" style="color: white">GALLERY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/StudyMaterial" style="color: white">STUDY MATERIAL</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/Recommendations" style="color: white">RECOMMENDATIONS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/ContactUs" style="color: white">CONTACT US</a>
              </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
  </div>
</nav>
