<div class="container-fluid" id="footer">
  <div class="row">
    <div class="col-sm-12">
      <hr>
      <p>
        Articles on this blog is only for an Educational and research purpose. Any actions and or activities related to the material contained within this Website is solely your responsibility.
        The misuse of the information in this website can result in criminal charges brought against the persons in question.
        <br>
        The authors and PCAdvise.com  will not be held responsible in the event any criminal charges be brought against any individuals misusing the information in this website to break the law.
      </p>
    </div>
  </div>
</div>
