<div class="container-fluid" style="padding-top: 1%">

      <!--Image  -->
      <div class="image">
        <h5 ><span>You want to learn? <br /> We love teaching knowledge thirsty individuals!</span></h5>
          <img src="/assets/knowledge-exchange.jpg" class=" img-fluid "style="height: 400px;width:100%"/>
        </div>
      <!--Trainings offered Header-->
      <div class="row" style="padding-top: 3%">
        <div class="col-md-12" align="center">
          <h3><span> <a routerLink="/TrainingsOffered"> Trainings offered</a></span></h3>
        </div>
      </div>
      <br>
      <!--Trainings offered Body-->
      <div class="row" style="padding-top: 1%">

        <div class="col-md-2" align="center" style="left-padding:3%;padding-top:6%">
              <button type="button" class="btn-info" (click)="OnTrainings_LeftClick()">
               <<
              </button>
          </div>

        <div class="col-md-2" *ngFor="let Training of TrainingListDisplay4;let i=index">
              <article>
                <img class="img-thumbnail img-fluid " src={{Training.ImageURL}} align="center" alt={{Training.Name}}/>
                <br>
                <br>
                <h5 style="text-align: center">{{Training.Name}}</h5>
                <p  style="text-align: center">"{{Training.Description}}"</p>
              </article>
          </div>

        <div class="col-md-2" align="center" style="right-padding: 3%;padding-top:6%">
              <button type="button" class="btn-info" (click)="OnTrainings_RightClick()">
               >>
              </button>
          </div>

      </div>

      <br>
      <hr>
      <!--People Think about it Header-->
      <div class="row" style="padding-top: 1%">
        <div class="col-md-12" align="center">
          <h3><span><a routerLink="/Recommendations"> What People think about us</a></span></h3>
        </div>
      </div>
      <br>
      <!--People Think about it Body-->
      <div class="row" style="padding-top: 1%">
        <div class="col-md-2" align="center" style="left-padding:3%;padding-top:6%">
          <button type="button" class="btn-info"  (click)="OnRecommendation_LeftClick()" >
            <<
          </button>
        </div>

        <div class="col-md-2" *ngFor="let Recommendation of RecommendationListDisplay4;let i=index">
          <article>
            <img class="img-thumbnail rounded-circle img-fluid " src={{Recommendation.ImageURL}} align="center" alt={{Recommendation.Name}}/>
            <br>
            <h5 style="text-align: center">{{Recommendation.Name}}</h5>
            <h6 style="text-align: center" >{{Recommendation.Occupation}}</h6>
            <p  style="text-align: center">"{{Recommendation.Comment}}"</p>
          </article>
        </div>

        <div class="col-md-2"  align="center" style="right-padding:3%;padding-top:6%">
          <button type="button" class="btn-info" (click)="OnRecommendation_RightClick()">
            >>
          </button>
        </div>
      </div>

</div>
