<div class="container-fluid" style="padding-top: 1%">
  <!--Image  -->
  <div class="image">
      <img src="/assets/knowledge-exchange.jpg" style="height: 400px;width:100%"/>
      <h4 ><span>You want to learn? <br /> &nbsp;We love teaching knowledge thirsty individuals!</span></h4>
    </div>

  <!--Trainings offered Header-->
  <div class="row" style="padding-top: 1%">
    <div class="col-sm-12">
      <h2 align="middle"> Trainings offered</h2>
    </div>
  </div>

  <br>

  <!--Trainings offered Body-->
  <div class="row" style="padding-top: 1%">
      <div class="col-sm-1" align="left" style="left-padding:3%">
        <button type="button" class="btn-info"  align="middle">
         <<
        </button>
      </div>
      <div class="col-sm-2">
          <div class="panel panel-default" style="background-color: #F6F6F6" >
            <div class="panel-heading">
               <h4>Java- Basic to advanced</h4>
            </div>
            <div class="panel-body">

            </div>
          </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-default" style="background-color: #F6F6F6" >
          <div class="panel-heading">
            <h4>Cyber Security</h4>
          </div>
          <div class="panel-body">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-default" style="background-color: #F6F6F6" >
          <div class="panel-heading">
            <h4>Networking Concepts</h4>
          </div>
          <div class="panel-body">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-default" style="background-color: #F6F6F6" >
          <div class="panel-heading">
            <h4>Complete Dotnet</h4>
          </div>
          <div class="panel-body">
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="panel panel-default" style="background-color: #F6F6F6" >
          <div class="panel-heading">
            <h4>Full Stack Development</h4>
          </div>
          <div class="panel-body">
          </div>
        </div>
      </div>
      <div class="col-sm-1" align="right" style="right-padding: 3%">
        <button type="button" class="btn-info" align="middle">
         >>
        </button>
      </div>
  </div>

  <br>
  <br>

  <!--People Think about it Header-->
  <div class="row" style="padding-top: 1%">
    <div class="col-sm-12">
      <h2 align="middle"> What People think about us</h2>
    </div>
  </div>

  <br>

  <!--People Think about it Body-->
  <div class="row" style="padding-top: 1%">
    <div class="col-sm-1" align="left" style="left-padding:3%; vertical-align: middle">
      <button type="button" class="btn-info"  align="middle" style="vertical-align: middle" >
        <<
      </button>
    </div>
    <div class="col-sm-2">
      <article>
        <h3>Aditya Chouhan</h3>
        <br>
        <img src="/assets/sample.jpeg" alt="Photo"/>
        <br>
        <p>"Google Chrome is a free, open-source web browser developed by Google, released in 2008."</p>
      </article>
    </div>
    <div class="col-sm-2">
      <article>
        <h3>Ajay Saxena</h3>
        <br>
        <img src="/assets/sample.jpeg" alt="Photo"/>
        <br>
        <p>"Google Chrome is a free, open-source web browser developed by Google, released in 2008."</p>
      </article>
    </div>
    <div class="col-sm-2">
      <article>
        <h3>Moin Khan</h3>
        <br>
        <img src="/assets/sample.jpeg" alt="Photo"/>
        <br>
        <p>"Google Chrome is a free, open-source web browser developed by Google, released in 2008."</p>
      </article>
    </div>
    <div class="col-sm-2">
      <article>
        <h3>Sartak Gupta</h3>
        <br>
        <img src="/assets/sample.jpeg" alt="Photo"/>
        <br>
        <p>"Google Chrome is a free, open-source web browser developed by Google, released in 2008."</p>
      </article>
    </div>
    <div class="col-sm-2">
      <article>
        <h3>Varun Parihar</h3>
        <br>
        <img src="/assets/sample.jpeg" alt="Photo"/>
        <br>
        <p>"Google Chrome is a free, open-source web browser developed by Google, released in 2008."</p>
      </article>
    </div>

    <div class="col-sm-1" align="right" style="right-padding:3%">
      <button type="button" class="btn-info" align="middle">
        >>
      </button>
    </div>
  </div>

</div>
